<div class="add-product">
    <h1 class="heading">Add New Product</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="add(addProduct.value)" class="common-form">
        <input class="from-input" ngModel type="text" placeholder="Enter Product Name" name="name">
        <input class="from-input" ngModel type="number" min="0" placeholder="Enter Product Price" name="price">
        <input class="from-input" ngModel type="text" placeholder="Enter Product color" name="color">
        <input class="from-input" ngModel type="text" placeholder="Enter Product Category" name="category">
        <textarea class="from-input" ngModel type="text" placeholder="Enter Product Description" name="description"></textarea>
        <input class="from-input" ngModel type="text" placeholder="Enter Product Image URL" name="image">
        <button class="from-button">Add Product</button>
    </form>
</div>
