.message-p{
    text-align: center;
    font-size: 30px;
    margin-bottom:30px;
    color: blueviolet;
}

.heading{
    margin-top: 10px;;
    text-align: center;
    color: rgb(151, 123, 123);
    font-size: 45px;
}